@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .grad-txt-rs-yllw:hover {
        @apply text-transparent bg-clip-text bg-gradient-to-br from-green-600 to-cyan-600;
    }
    .trip-marker {
        @apply bg-green-600 text-white rounded-full font-normal text-center shrink-0 flex z-[1] flex-col items-center justify-center shadow-lg drop-shadow-md pt-1 border border-emerald-900 border-opacity-25;
    }
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.mapboxgl-popup-content {
    /* idk i struggling with this */
    z-index: 10;
}

.mapboxgl-popup-tip {
    z-index: 10;
}

.dark-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}

.dark-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #64748b;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 100vh;
    border: none;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1e293b;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #e2e8f0;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 100vh;
    border: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
